<div class="video-container">
  <video #backgroundVideo autoplay muted loop>
    <source src="../assets/video2.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
  </video>
</div>

<div class="content">
  <h1>¡Bienvenido a Todo Montaña!</h1>
  <p>¡Bienvenido a Todo Montaña! Acá tenemos todo lo que necesitás para arrancar la temporada de invierno con todo. Ya
    sea que te guste esquiar, hacer snowboard o simplemente disfrutar de la nieve, en nuestra tienda encontrás lo mejor
    en equipos y ropa: esquíes, tablas, pantalones, camperas, antiparras y mucho más. Tenemos todo lo necesario para que
    estés bien equipado y listo para la acción en la montaña. ¡Venite a Todo Montaña y prepárate para disfrutar del
    invierno al máximo!</p>
</div>