<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000"> <!-- Cambia 1000 a la duración deseada en ms -->
        <img src="../assets/img4.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000"> <!-- Cambia 1000 a la duración deseada en ms -->
        <img src="../assets/img5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000"> <!-- Cambia 1000 a la duración deseada en ms -->
        <img src="../assets/img1.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  