<mat-toolbar class="fondo">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-stroked-button class="boton1" routerLink="/inicio">Inicio</button>
  <button mat-stroked-button class="boton2">Productos</button>
  <button mat-stroked-button class="boton3" [matMenuTriggerFor]="autentificacion">Autentificación</button>
  <mat-menu #autentificacion="matMenu">
    <button mat-menu-item routerLink="/registro">Registro</button>
    <button mat-menu-item routerLink="/iniciosesion">Inicio de Sesión</button>
  </mat-menu>

  <span class="espacio"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
