<p>Nuestros</p>
<p>catálogos</p>
<p>de</p>
<p>productos</p>

<div class="grid-container">
  <div class="large-image-left"><img src="../assets/prueba1.png" alt="" srcset=""></div>
  <div class="small-image"><img src="../assets/prueba2.png" alt="" srcset=""></div>
  <div class="small-image"><img src="../assets/prueba3.png" alt="" srcset=""></div>
  <div class="small-image"><img src="../assets/prueba4.png" alt="" srcset=""></div>
  <div class="small-image"><img src="../assets/prueba6.png" alt="" srcset=""></div>
  <div class="large-image-right"><img src="../assets/prueba5.png" alt="" srcset=""></div>
</div>


