<p>Nuestros catálogos de productos</p>

<div class="grid-container">
  <div class="large-image image-container">
    <img src="../assets/prueba1.png">
    <div class="overlay-text">Esquís</div>
  </div>
  <div class="small-image image-container">
    <img src="../assets/prueba2.png">
    <div class="overlay-text">Indumentaria</div>
  </div>
  <div class="small-image image-container">
    <img src="../assets/prueba3.png">
    <div class="overlay-text">Camperas</div>
  </div>
  <div class="small-image image-container">
    <img src="../assets/prueba4.png">
    <div class="overlay-text">Antiparras</div>
  </div>
  <div class="small-image image-container">
    <img src="../assets/prueba6.png">
    <div class="overlay-text">Snowboards</div>
  </div>
  <div class="text-area">
    <p>#</p>
    <p>Lo</p>
    <p>Mejor</p>
    <p>Lo</p>
    <p>Encuentras</p>
    <p>Aquí</p>
  </div>
</div>



