<!--
<div class="container responsive-grid">
    <div class="row">
        <mat-card class="example-card" appearance="outlined" *ngFor="let p of productosesqui" class="card" style="width: 17rem;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <div class="titulo">
                    <mat-card-title>{{p.nombre}}</mat-card-title>
                </div>
            </mat-card-header>
            <img mat-card-image src="{{p.imagen}}" class="imagen">
            <mat-card-content>
                <p class="descripcion">
                    {{p.descripcion}}
                </p>
                <p>
                    {{p.precio}}
                </p>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card>
    </div>
</div>
-->
<h1 class="tiitulo">Nuestros productos más destacados</h1>
<mat-tab-group>
    <mat-tab label="Atomic">
        <div class="container responsive-grid">
            <div class="row">
                <mat-card class="example-card" appearance="outlined" *ngFor="let p of productosesqui" class="card" style="width: 17rem;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <div class="titulo">
                            <mat-card-title>{{p.nombre}}</mat-card-title>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="{{p.imagen}}" class="imagen">
                    <mat-card-content>
                        <p class="descripcion">
                            {{p.descripcion}}
                        </p>
                        <p>
                            {{p.precio}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
        
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Dynastar">
        <div class="container responsive-grid">
            <div class="row">
                <mat-card class="example-card" appearance="outlined" *ngFor="let p of productosesqui2" class="card" style="width: 17rem;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <div class="titulo">
                            <mat-card-title>{{p.nombre2}}</mat-card-title>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="{{p.imagen2}}" class="imagen">
                    <mat-card-content>
                        <p class="descripcion">
                            {{p.descripcion2}}
                        </p>
                        <p>
                            {{p.precio2}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
        
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Rossignol">
        <div class="container responsive-grid">
            <div class="row">
                <mat-card class="example-card" appearance="outlined" *ngFor="let p of productosesqui3" class="card" style="width: 17rem;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <div class="titulo">
                            <mat-card-title>{{p.nombre3}}</mat-card-title>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="{{p.imagen3}}" class="imagen">
                    <mat-card-content>
                        <p class="descripcion">
                            {{p.descripcion3}}
                        </p>
                        <p>
                            {{p.precio3}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
        
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
  