@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

mat-tab-group {
    display: flex;
}

.row {
    display: flex;
    justify-content: center;
}

.imagen {
    width: 20%;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    justify-content: center;
}




.card {
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: antiquewhite;
}

.titulo {
    justify-content: center;
    text-align: center;
    margin-right: 45px;
    color: red;
}

.descripcion {
    color: rgb(61, 56, 56);
}

/*
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
    */

.tiitulo {
    font-family: "Teko", sans-serif;
    font-size: 45px;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 35px;
    text-align: center;
}

.example-card {
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
    /* Color de fondo inicial */
    transition: transform 0.6s ease, background-color 0.6s ease;
    /* Suavidad en las transiciones */
    border-radius: 8px;
    /* Bordes ligeramente redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    /* Sombra para darle un efecto de profundidad */
    margin: 15px;
    /* Margen para separar las cards */
}

.example-card:hover {
    transform: scale(0.98);
    /* Efecto de agrandamiento al pasar el mouse */
    background-color: #e0e0e0;
    /* Cambiar el color de fondo al pasar el mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
    /* Aumentar la sombra para darle más relieve */
}