<div id="carouselExampleSlidesOnly" class="carrusel carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1800"> <!-- Cambia 1000 a la duración deseada en ms -->
        <img src="../assets/car1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1800"> <!-- Cambia 1000 a la duración deseada en ms -->
        <img src="../assets/nieve.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1800"> <!-- Cambia 1000 a la duración deseada en ms -->
        <img src="../assets/nieve3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  