<!-- Probando grid con html
<div class="container text-center">
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>
-->
<!--Grid pero con angular-->

<mat-grid-list cols="1" rowHeight="35px">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <mat-grid-tile class="titulito">© 2024 Company, Inc</mat-grid-tile>
    </div>
</mat-grid-list>
<hr>
<mat-grid-list cols="1" rowHeight="28px">
    <img src="https://i.pinimg.com/736x/fc/26/50/fc26502254db62ce6b29debec1a56e80.jpg" class="icono">
    <img src="https://w7.pngwing.com/pngs/594/855/png-transparent-facebook-logo-facebook-computer-icons-logo-background-black-white-text-desktop-wallpaper.png" class="icono">
    <img src="https://i.pinimg.com/736x/ca/33/33/ca3333db3f6eaeadfd40975ccda7fa8e.jpg" class="icono">
</mat-grid-list>
<hr>
<mat-grid-list cols="1" rowHeight="85px" class="fondo">
    <mat-grid-tile>
        <img src="https://d2wxkzn4zrc8hy.cloudfront.net/ui/footer/data-fiscal.jpg">
        <img src="https://d2wxkzn4zrc8hy.cloudfront.net/ui/footer/pdp-logo.png">
        <img src="https://d2wxkzn4zrc8hy.cloudfront.net/ui/footer/defensa-consumidor.gif">
    </mat-grid-tile>
</mat-grid-list>